body {
  background-color: #29285b;
}

.App {
  text-align: center;
  color: rgba(245, 245, 245, 0.892);
  margin-top: 90px;
  padding-top: 10px;
  align-items: center;

}

.blogster-link {
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace
}

