.delete-button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  background-color: rgb(204, 24, 0);
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.delete-button:hover {
  background-color:rgb(173, 22, 2);
  transition: 0.3s;
}

.post-details-wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

.edit-button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(63, 255, 226, 0.803);
  cursor: pointer;
  margin: 20px;
}

.edit-button:hover {
  background-color:rgb(157, 255, 240);
  transition: 0.4s;
}

p {
  font-weight: bold;
}

.submit {
  display: flex;
  flex-direction: column;
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

textarea {
  width: 100%;
}

.user-id {
  margin-bottom: 15px;
}